html{
    height: 100%;
}

.body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  background-color: black;
  justify-content: flex-start;
}

.form-signup {
  
  width: 100%; 
  
  padding: 20px;
  margin-top: 1%;
  margin-left: 5%;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signup .form-floating:focus-within {
  z-index: 2;
}

.form-signup textarea[name="title"] {
    border-radius: 5px;
  margin-bottom: 20px;
  width: 800px;
}

.form-signup textarea[name="content"]{
    border-radius: 5px;
    /* padding: 200px;
    padding-right: 100%;
    padding-bottom: 100%; */
    margin-bottom: 20px;
    width: 800px;
    height: 300px;
    
}

.form-signup input[name="image"]{
    border-radius: 5px;
    width: 500px;
     margin-bottom: 30px;
  }
  

.form-signup input[name="file"] {
  margin-bottom: 30px;
  width: 500px;
  border-radius: 5px;
}

.form-signup input[name="category"] {
  margin-bottom: 30px;
  width: 500px;
  border-radius: 5px;
}

.logintext {
    font-size:50px;
    color:aliceblue;
    border-radius: 20;
}




.pluslink{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  
}

.homelink{
  justify-content: start;
  color: aliceblue;
  text-decoration: none;
}

.calink{
  color: aliceblue;
  justify-content: flex-end;
  text-decoration: none;

}

.uploadbt{
  margin-left: 80vw;
}


.modal-dialog{
  width: 80%;
  height: 80%;
}

#map{
  margin-top: 4%;
  /* width: 800px;
  height: 700px; */
  width: 80vw;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-radius: 30px;
  border-color: white;
  border-width: 5px;
}

#mapInfoModal{
  width: 100vw;
  height: 500px;
}

.marker-list {
  display: flex;
  flex-direction: row;
}


.custom-tooltip::before {
  border-color: transparent transparent white; 
}
.custom-tooltip {
  --bs-tooltip-bg: var(--bd-white-bg);
  --bs-tooltip-color: var(--bs-black);
  border-radius: 5px;
  background-color: white;
  color: white;

}


/* .modal-dialog {
  max-width: 80%; 
} */

.form-control[type="file"]{
  max-width: 80%; 
}