.footerContainer{
   
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}


.footer{
    width: 100%;
    margin-top: auto;
    background-color: white;
    bottom: 0;
   margin-top: 3rem;
   
}

.contactBtn{
    font-weight: 1000;
}
