


.App {
    text-align: center;
    
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  
  .app-container {
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    background-color:black;
    overflow-x:hidden;
    display: flex;
    flex-direction: column;
  }
  .home-content{
    min-height: 100vh;
  }
  
  .title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -40px;
    margin-top: 0px;
    color:aliceblue;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 30px;
  }
  
      
  .title2 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
  color:aliceblue;
  font-family: 'East Sea Dokdo', cursive;
  font-size: 30px;
  }
  
  
  
  
  
  #map{
    margin-top: 4%;
    width: 80%;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 30px;
    border-color: white;
    border-width: 5px;
  }

  .map-unlogin{
    height: 100vh;
  }
  
  .loading{
    color:white;
  }
  
  .custom-infowindow {
    font-size: 1px; /* 글자 크기 조정 */
    width: 100px; /* 인포윈도우의 너비 조정 */
    height: 10px; /* 인포윈도우의 높이 조정 */
    max-width: 10px;
  }
  
  
  .customOveray{
    font-size: 1vh;
    align-items: center;
    justify-content: center;
    min-height:20px;
    padding:3px;
    background-color: #fff;
    border-radius: 10px;
    color: gray;
    border-style: solid;
    viewport-fit: auto;
  }
  
  
  .Dormitory{
    background-color: rgb(125, 235, 0);
  }
  
  #user{
    font-size: 1px;
    width:100%;
    height:3%;
    padding:3px;
    border-style: solid;
    background-color: gold;
    border-radius: 100%;
    font-style:initial
  }
  
  .hidden{
    display:none;
  }
  
  .convenience{
    background-color: bisque;
  }
  
  .search{
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    border-radius: 100%;
  }
  
  .search1{
    border-radius: 12px;
    border-color: darkgray;
    border-style:solid;
    max-width: 300px;
  }
  
  .font-dokdo{
    
    font-family: 'East Sea Dokdo', cursive;
    
  }

  .font-gasoek{
    font-family: 'Gasoek One', sans-serif;
  }
  
  
  .floor{

    /* font-family: 'East Sea Dokdo', cursive; */
    margin-left: 10px;
    font-size: xx-large;
  }
  
  .loginWord{
    
    display: block;
  }
  
  .loginInput{
    display: block;
    
  }

  /* .dropdown-menu {
    
  } */



  .login-margin {
    margin-right: 6.5rem;  /* 원하는 거리만큼 설정하세요 */
  }

  .map-dropdown-container{
    width: 100%;
    height: 100%;
    flex-direction: row;
    display: flex;
  }

  .map-dropdown-main{
    padding: 3%;
  }
  .map-dropdown-menu{
    justify-content: space-between;
    display: flex;
  }

  .map-dropdown-classnum{
    align-self: center;
    text-decoration: none;
    color: black;
  }
  .map-dropdown-delete-btn{
    
    
  }

 

  .infowindow{
    padding: 5px;
    border-radius: 5px;
    min-width: 25vw;
    height: 100%;
    background-color: whitesmoke;
    border:solid;
    display: flex; 
    margin-left: -2px;
    margin-top: -2px;
    justify-content: center;
    
  }
  .infowindow-content{
  
  
    display: flex;
    font-weight: 800;
   
  }

  
  @media screen and (min-width:1000px) {
    .infowindow{
      padding: 5px;
      border-radius: 5px;
      min-width: 15vw;
      height: 100%;
      background-color: whitesmoke;
      display: flex; 
      margin-left: -2px;
      margin-top: -2px;
      justify-content: center;
      border:solid;
      
    }
  }
  @media screen and (max-width:700px) {
    .infowindow{
      padding: 5px;
      border-radius: 5px;
      min-width: 35vw;
      height: 100%;
      background-color: whitesmoke;
      display: flex; 
      margin-left: -2px;
      margin-top: -2px;
      justify-content: center;
      border:solid;
    }

    .search{
      display: flex;
      justify-content: flex-end;
      margin-left: 0px;
      border-radius: 100%;
      /* width: 85vw; */
    }
    
    .search1{
      border-radius: 12px;
      border-color: darkgray;
      border-style:solid;
      max-width: 300px;
    }
    .map-dropdown-container{
      width: 100%;
      height: 100%;
      flex-direction: column-reverse;
      display: flex;
    }
    .map-dropdown-main{
      padding: 3%;
      margin-top: 0;
    }
    #map{
      margin-top: 4%;
      width: 94% !important;
      height: 70vh;
      margin-left: 3% !important;
    
      border-style: solid;
      border-radius: 20px;
      border-color: white;
      border-width: 5px;
    }
  }

 



  /* .infowindow {
    padding: 5px;
    border-radius: 5px;
    min-width: 30vw;
    height: 100%;
    background-color: #61dafb;
    display: flex; 
    margin-left: -2px;
    margin-top: -2px;
    justify-content: center;
  }
  
  .infowindow-content {
    display: flex;
    font-weight: 800;
  }
  
  @media screen and (max-width: 50vw) {
    .infowindow {
      padding: 5px;
      border-radius: 5px;
      min-width: 5vw;
      height: 100%;
      background-color: red;
      display: flex; 
      margin-left: -2px;
      margin-top: -2px;
      justify-content: center;
    }
  }
   */