

html{
  height: 100%;
  background-color: black;
  width: 100%;
}

body{
  margin: 0;
  padding: 0;
  

}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.logintext {
    color:aliceblue;
    border-radius: 20;
}


.pluslink{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  
}

.homelink{
  justify-content: start;
  color: aliceblue;
  text-decoration: none;
}

.calink{
  color: aliceblue;
  justify-content: flex-end;
  text-decoration: none;

}